[Unit]
Description=Central Server List (22524)
Documentation=http://jamulus.drealm.info/jamulus
Documentation=https://github.com/corrados/jamulus/wiki/Server-Troubleshooting
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/Jamulus/bin/run-Jamulus.sh Central2
WorkingDirectory=~
User=Jamulus
Group=Jamulus
CPUSchedulingPolicy=rr
CPUSchedulingPriority=10
IOSchedulingClass=realtime
IOSchedulingPriority=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Jamulus-Central2
