[Unit]
Description=Jamulus Server %i
Documentation=http://jamulus.drealm.info/jamulus
Documentation=https://jamulus.io/wiki/Server-Troubleshooting
After=local-fs.target remote-fs.target swap.target
Before=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
IOSchedulingClass=realtime
IOSchedulingPriority=3
SyslogIdentifier=Jamulus-%i
User=Jamulus
Group=Jamulus
WorkingDirectory=~
Environment=UNIT=%i
EnvironmentFile=/opt/Jamulus/systemd/Jamulus.env
EnvironmentFile=/opt/Jamulus/systemd/%i.env
ExecStart=/opt/Jamulus/bin/run-Jamulus-template.sh
