[Unit]
Description=Central Server List (22524)
Documentation=http://jamulus.drealm.info/jamulus
Documentation=https://github.com/corrados/jamulus/wiki/Server-Troubleshooting
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ControlGroup=cpu:/
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60
IOSchedulingClass=realtime
IOSchedulingPriority=3
SyslogIdentifier=Jamulus-Central2
StandardOutput=syslog
StandardError=syslog
User=Jamulus
Group=Jamulus
WorkingDirectory=~
ExecStart=/opt/Jamulus/bin/run-Jamulus.sh Central2
